*{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
.container
{
     display: block;
     width: 1280px;
     margin: 0 auto;
}
.active {
     background-color: blue!important;
     color: white!important;
     border: 1px solid white!important;
}
.box
{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 120px;
}
.box .box_num
{
     display: block;
     padding: 8px 16px;
     font-size: 28px;
     font-weight: 600;
     line-height: 30px;
     
}
.box .box_btns
{
     width:40%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     font-size: 28px;
     font-weight: 600;
     line-height: 30px;
     

}
.box .box_btns .box_btn
{
     background-color: white;
     display: flex;
     font-size: 18px;
     font-weight: 500;
     line-height: 30px;
     padding: 8px 45px;
     margin-top: 20px;
     border-color: black;
     border-radius: 10px;
     cursor: pointer;
}

.box_wrapper
{
     width: 100%;
     height: 100%;
     padding: 8px 16px;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: start;
     align-items: center;
     background-color: whitesmoke;
     margin-top: 10px;
}
.box_content
{
     background-color: white;
     width: 300px;
     height: 550px;
     margin: 5px;
     border: 1px solid black;
}

.box_content img 
{
     display: block;
     margin: 0 auto;
     width: 100%;
     height: 35%;
     object-fit: contain;
     padding: 9px 0;
}
.box_content .box_content_text
{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: space-between;
     margin: 0 auto;
     width: 100%;
     height: 65%;
     background-color: black;
     color:  rgba(255, 255, 255, 0.56);
     text-align: start;
     font-size: 14px;
     line-height: 15.5px;
     padding: 8px 16px;
}
.box_content .box_content_text .title
{
     display: block;
     font-size: 16px;
     line-height: 17px;
     font-weight: 600;
     text-transform: uppercase;
     width: auto;
     color: white;
}
.box_content .box_content_text .desc
{
     overflow-y: scroll;
     width: 100%;
     height: 120px;
}
.box_content .box_content_text .box_icons
{
     display: flex;
     align-items: center;
     margin-top: 16px;
     margin-bottom: 25px;
     font-size: 16px;
     line-height: 18px;
     font-weight: 500;
     text-transform: uppercase;
     width: auto;
     color: white;
}
.box_content .box_content_text .box_icons img {
     width: 35px;
     height: 35px;
}
.btn
{
     width: 150px;
     height: 40px;
     border-radius: 10px;
     background-color: white;
     color: black;
     margin: 0 auto;
     display: block;
     border: 1px solid #000;
     cursor: pointer;
}
.basket
{
     width: 100%;
     height: 60px;  
     display: flex;
     flex-direction: column;
     align-items: center;
}
.basket .basket_btn
{
     width: 150px;
     height: 40px;
     background-color: white;
     display: block;
     border: 1px solid #000;
     border-radius: 10px;
     margin-top: 25px;
     cursor: pointer;
     font-size: 28px;
}
.basket .basket_btn img {
     object-fit: contain;
}
.basket_main{
     display: none;
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.86); 
}
.basket_box 
{
     width: 80%;
     height: 80vh;
     position: relative;
     top: 50px;
     margin: 0 auto;
     background-color: transparent;
     border: 2px solid white;
     opacity: 1;
     display: flex;
     flex-wrap: wrap;
     justify-content: start;
     align-items: center;
     overflow-y: scroll!important;

}
.close
{
     position: relative;
     bottom: -80px;
     width: 200px;
     height: 40px;
     background-color: white;
     color: #000;
     margin: 0 auto;
     display: block;
     border: 2px solid #000;
     border-radius: 10px;
     font-size: 22px;
     cursor: pointer!important;    
}
.box_items_num
{
     display: flex;
     width: 100%;
     padding: 8px 16px;
     align-items: center;
     justify-content: space-around;
     margin-top: 10px;
}
.dec{
     width: 35px;
     height: 30px;
     border: 1px solid #000;
     border-radius: 50px;
     cursor: pointer;
     color: #000;
     background-color: #f1f1f1;
} 
.inc{
     width: 35px;
     height: 30px;
     border: 1px solid #000;
     border-radius: 50px;
     cursor: pointer;
     color: #000;
     background-color: #f1f1f1;
}
.num_items{
     font-size: 20px;
     color: white;
     font-weight: 600;
}
.del {
     width: 150px;
     height: 40px;
     border-radius: 10px;
     background-color: red;
     color: yellow;
     margin: 0 auto;
     display: block;
     border: 1px solid #000;
     cursor: pointer;
}